body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.solution {
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
}

.row {
  white-space: nowrap;
}

.col {
  display: inline-block;
  vertical-align: top;
  width: 25;
  padding: 1em;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.5em;
}

th {
  background-color: #c8c8c8;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}